mixin page_header(page_name)
    link(rel="stylesheet", href="../../css/page-header.css")
    .page-header
        .hierarchy
            a.home-link(href="index.html") Home
            i.fas.fa-angle-right
            a.page-link(href="#")= page_name
        h2.title= page_name

mixin progress_bar(percentage)
    .progress-bar
        .progress(style="width: "+percentage)
            span.percentage= percentage

mixin skill(skill, precentage)
    .skill
        .title= skill
        +progress_bar(precentage)

mixin skills()
    link(rel="stylesheet", href="../../css/progress-bar.css")   
    .skills
        +skill("graphics design", "70%")
        +skill("html/css", "96%")
        +skill("marketing", "80%")
        +skill("awords", "85%")

mixin team_member(name, job_title)
    .glider-slide.team-member
        //- .image.hexagonal
        //-     .hex-image-container
        //-         .hex-image 
        //-             .in1 
        //-                 .in2 
        //-                     img(src="https://via.placeholder.com/260.png/ffffff/ffffff", alt="placeholder")
        .image
        .name= name
        .job-title= "(" + job_title + ")"

mixin glider_prev()
    button.glider-prev.glider-control(aria-label="Previous") ⬅

mixin glider_next()
    button.glider-next.glider-control(aria-label="Next") ➡

mixin our_team(name, job_title)
    link(rel="stylesheet", href="../../css/our-team.css")
    .container.our-team
        .cool-title Our team of professionals 
        .funny-note 6 people is all we need here apparently.
        .glider-contain 
            .glider
                +team_member("Shail", "CEO-shialthemes") 
                +team_member("Abdurrahman", "Front-End Developer") 
                +team_member("Lam Hoang", "Graphic Design") 
                +team_member("Pixel", "Graphic Design") 
                +team_member("Ha Nguyen", "CEO-shialthemes") 
                +team_member("Whoever", "Out of Job") 
            +glider_prev()
            +glider_next()

mixin sponser(name)
    img.sponser(src="../../resources/sponsers/"+name+".png", alt="sponser")

mixin sponsers()
    link(rel="stylesheet", href="../../css/sponsers.css")
    .sponsers.container
        -for (var i = 1; i <= 5; i++)
            +sponser(i)
